/* Le 2019-01-01 *//*--------- Said sakhrs ---------*//* http://sakhrs.com */

@import url('../../external.html?link=https://fonts.googleapis.com/css?family=Cairo:400,600,700,900&amp;display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
a, img {
	border: 0;
	outline: none
}
a, a:hover, a:focus {
	text-decoration: none
}
a {
	transition-duration: 0.4s;
	transition-property: background, color, border, opacity;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
strong, b {
	font-weight: bold
}
img {
	max-width: 100%
}
.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.clear {
	display: block;
	clear: both
}
.left {
	float: left
}
.right {
	float: right
}
.none {
	display: none
}
body {
	line-height: 1;
	font-family: 'Cairo', sans-serif;
	background: #ffffff;
	font-size: 100%;
	position: relative
}
#loading-mask {
	background: #6a11cb;
	background: -webkit-linear-gradient(90deg, #6a11cb, #2575fc);
	background: -moz-linear-gradient(90deg, #6a11cb, #2575fc);
	background: -o-linear-gradient(90deg, #6a11cb, #2575fc);
	background: linear-gradient(90deg, #6a11cb, #2575fc);
	height: 100%;
	opacity: 1;
	filter: alpha(opacity=100);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 999999999
}
.loader {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-perspective: 780px;
	perspective: 780px;
	top: 43%
}
.loader-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}
.loader-inner.box1 {
	left: 0;
	top: 0;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid #fff
}
.loader-inner.box2 {
	right: 0;
	top: 0;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid #fff
}
.loader-inner.box3 {
	right: 0;
	bottom: 0;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid #fff
}
@keyframes cssload-rotate-one {
0% {
-webkit-transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)
}
100% {
-webkit-transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
}
}
@-webkit-keyframes cssload-rotate-one {
0% {
-webkit-transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)
}
100% {
-webkit-transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
}
}
@keyframes cssload-rotate-two {
0% {
-webkit-transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);
transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)
}
100% {
-webkit-transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);
transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)
}
}
@-webkit-keyframes cssload-rotate-two {
0% {
-webkit-transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)
}
100% {
-webkit-transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)
}
}
@keyframes cssload-rotate-three {
0% {
-webkit-transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);
transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)
}
100% {
-webkit-transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);
transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)
}
}
@-webkit-keyframes cssload-rotate-three {
0% {
-webkit-transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)
}
100% {
-webkit-transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)
}
}
.Satiha h3 {
	font-size: 18px;
	padding: 5px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 400;
	line-height: 26px;
	text-align: right;
	width: 300px;
}
.Satiha h6 {
	font-size: 26px;
	padding: 5px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
}
.Satiha h5 {
	font-size: 20px;
	padding: 5px;
	margin-bottom: 10px;
	color: #ffde28;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
}

/********* Animation **********/

@-webkit-keyframes left2right {
 0% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
 50% {
 -ms-transform: translateX(100px);
    /* IE 9 */
    -webkit-transform: translateX(100px);
    /* Chrome, Safari, Opera */
    transform: translateX(100px);
}
 100% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
}
@-moz-keyframes left2right {
 0% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
 50% {
 -ms-transform: translateX(100px);
    /* IE 9 */
    -webkit-transform: translateX(100px);
    /* Chrome, Safari, Opera */
    transform: translateX(100px);
}
 100% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
}
@-o-keyframes left2right {
 0% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
 50% {
 -ms-transform: translateX(100px);
    /* IE 9 */
    -webkit-transform: translateX(100px);
    /* Chrome, Safari, Opera */
    transform: translateX(100px);
}
 100% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
}
@keyframes left2right {
 0% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
 50% {
 -ms-transform: translateX(100px);
    /* IE 9 */
    -webkit-transform: translateX(100px);
    /* Chrome, Safari, Opera */
    transform: translateX(100px);
}
 100% {
 -ms-transform: translateX(0px);
    /* IE 9 */
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    transform: translateX(0px);
}
}
 @-webkit-keyframes upndown {
 0% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
 50% {
 -ms-transform: translateY(100px);
    /* IE 9 */
    -webkit-transform: translateY(100px);
    /* Chrome, Safari, Opera */
    transform: translateY(100px);
}
 100% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
}
@-moz-keyframes upndown {
 0% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
 50% {
 -ms-transform: translateY(100px);
    /* IE 9 */
    -webkit-transform: translateY(100px);
    /* Chrome, Safari, Opera */
    transform: translateY(100px);
}
 100% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
}
@-o-keyframes upndown {
 0% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
 50% {
 -ms-transform: translateY(100px);
    /* IE 9 */
    -webkit-transform: translateY(100px);
    /* Chrome, Safari, Opera */
    transform: translateY(100px);
}
 100% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
}
@keyframes upndown {
 0% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
 50% {
 -ms-transform: translateY(100px);
    /* IE 9 */
    -webkit-transform: translateY(100px);
    /* Chrome, Safari, Opera */
    transform: translateY(100px);
}
 100% {
 -ms-transform: translateY(0px);
    /* IE 9 */
    -webkit-transform: translateY(0px);
    /* Chrome, Safari, Opera */
    transform: translateY(0px);
}
}
@-webkit-keyframes bannerImgBounce {
 0% {
 -webkit-transform: translateY(0) translateX(0);
 transform: translateY(0) translateX(0);
}
 100% {
 -webkit-transform: translateY(-20px) translateX(-20px);
 transform: translateY(-20px) translateX(-20px);
}
}
@keyframes bannerImgBounce {
 0% {
 -webkit-transform: translateY(0) translateX(0);
 transform: translateY(0) translateX(0);
}
 100% {
 -webkit-transform: translateY(-20px) translateX(-20px);
 transform: translateY(-20px) translateX(-20px);
}
}
/********* End Animation **********/
header {
	position: relative
}
#section0.header-area .Logo {
	position: absolute;
	left: 0;
	top: 0;
}
#section0.header-area .losm {
	display: none;
}
#section0.header-area {
	background-color: #fff;
	background-image: url(../images/header-bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	min-height: 700px;
}
#section0.header-area .shape-1 {
	position: absolute;
	left: 20%;
	top: 15%;
	-webkit-animation: left2right 10s linear 0s infinite;
	animation: left2right 10s linear 0s infinite;
	opacity: .1;
}
#section0.header-area .shape-2 {
	position: absolute;
	left: 50%;
	bottom: 30%;
	-webkit-animation: upndown 10s linear 0s infinite;
	animation: upndown 10s linear 0s infinite;
	opacity: .2;
}
.Header {
	margin-top: 80px;
	width: 100%;
}
.imgsatha {
	margin-top: 200px;
	-webkit-animation: upndown 10s linear 0s infinite;
	animation: upndown 10s linear 0s infinite;
}
.button-container {
	margin: 30px auto
}
.button-container a {
	outline: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
	min-width: 200px;
	border: none;
	border-radius: 15px;
	padding: 16px 24px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	overflow: hidden;
	transition: .3s ease;
	background: -webkit-linear-gradient(45deg, #fff 0%, #f1f1f1 100%);
	background: -o-linear-gradient(45deg, #fff 0%, #f1f1f1 100%);
	background: linear-gradient(45deg, #fff 0%, #f1f1f1 100%);
	-webkit-box-shadow: 0px 10px 20px 0px #fff;
	box-shadow: 0px 10px 20px 0px #fff;
}
.button-container a span {
	position: relative;
	display: block;
	z-index: 1;
	color: #000;
	transition: .3s ease;
}
.button-container a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #7839f2;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	transition: .3s ease;
}
.button-container a:hover, .button-container a:active, .button-container a:focus {
	border-color: #7839f2;
}
.button-container a:hover span, .button-container a:active span, .button-container a:focus span {
	color: #7839f2;
}
.button-container a:active span, .button-container a:focus span {
	color: #ffffff;
}
.button-container a:active:before, .button-container a:focus:before {
	opacity: 1;
	-webkit-transform: scale(10);
	transform: scale(10);
}
section {
	padding: 60px 0;
	position: relative
}
#Sathasec h1, #Servicesec h1 {
	font-size: 32px;
	font-weight: bold;
	color: #460abb;
	margin-bottom: 50px;
	text-align: center
}
#Sathasec .shape-1, #Servicesec .shape-1 {
	position: absolute;
	left: 10%;
	bottom: 40%;
	-webkit-animation: upndown 10s linear 2s infinite;
	animation: upndown 10s linear 2s infinite;
}
#Sathasec .shape-2, #Servicesec .shape-2 {
	position: absolute;
	left: 6%;
	bottom: 60%;
	-webkit-animation: upndown 8s linear 2s infinite;
	animation: upndown 8s linear 2s infinite;
	opacity: .5;
}
.About h2 {
	color: #323232;
	text-transform: uppercase;
	position: relative;
	font-size: 28px;
	font-weight: 700;
	font-family: 'Cairo', sans-serif;
}
.About p {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: .4px;
	color: #323232;
	margin-top: 30px;
}
#galery {
	padding: 100px 0;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
.owl-carousel .item {
	position: relative;
}
.owl-carousel .item img {
	opacity: 1;
	transition: opacity 0.35s;
}
.owl-carousel .item::before {
	position: absolute;
	content: "";
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #14222d;
	background-image: url(../images/zoom-in.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.owl-carousel .item:hover img {
	opacity: 0.2;
	transition: opacity 0.35s;
}
.owl-carousel .item:hover::before {
	opacity: 1;
	transition: opacity 0.35s;
}
.owl-prev {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.owl-next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.Service {
	font-size: 16px;
	margin: 30px auto 40px;
	padding: 10px 15px;
	background: transparent;
	border: 2px solid #6a11cb;
	border-radius: 10px;
}
.Service p {
	color: #6a11cb;
	line-height: 26px;
	padding: 0;
	margin: 0
}
#Qaccordion {
	width: 100%
}
#Qaccordion button {
	text-decoration: none
}
#Qaccordion .card {
	margin: 10px 0;
	text-align: right
}
#Qaccordion .card-header {
	padding: 15px 0;
}
#Qaccordion i {
	margin-left: 10px;
	font-size: 12px;
	background: #fff;
	color: #5435b8;
	padding: 10px;
	border-radius: 50%;
}
#Qaccordion [data-toggle="collapse"] .fa:before {
	content: "\f068";
}
#Qaccordion [data-toggle="collapse"].collapsed .fa:before {
	content: "\f067";
}
#Qaccordion .btn-link {
	color: #fff
}
#Qaccordion .card {
	color: #fff;
	background: #5435b8;
	background: linear-gradient(108deg, #36a2b7 0, #5435b8 100%);
	border-color: #fff;
}
#Qaccordion .card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
}
footer {
	padding: 60px 0 0;
	position: relative;
	background-image: -moz-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
	background-image: -webkit-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
	background-image: -ms-linear-gradient(50deg, #5e2ced 0%, #9749f8 100%);
}
footer h1 {
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 50px;
	text-align: center;
}
footer h5 {
	margin: 50px 0;
	text-align: center;
}
footer h5 a {
	font-weight: 400;
	font-size: 24px;
	color: #fff;
}
footer h5 a:hover {
	font-weight: 600;
	font-size: 24px;
	color: #fff;
}
footer .shape-1 {
	position: absolute;
	left: 10%;
	bottom: 40%;
	-webkit-animation: upndown 10s linear 2s infinite;
	animation: upndown 10s linear 2s infinite;
}
footer .shape-2 {
	position: absolute;
	left: 6%;
	bottom: 60%;
	-webkit-animation: upndown 8s linear 2s infinite;
	animation: upndown 8s linear 2s infinite;
	opacity: .5;
}
footer ul {
	text-align: center
}
footer ul li {
	display: inline-block;
}
footer ul li a {
	color: #fff;
	padding: 15px;
	border: 1px solid #fff;
	border-radius: 10px;
	display: block;
	margin: 5px
}
footer ul li a:hover {
	border-radius: 20px;
	color: #fff
}
.copyright-inner {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	padding: 20px 0;
	margin-top: 100px;
}

/************** Mobile **************/

@media screen and (max-width:1300px) {
}

/** Large **/
@media screen and (max-width:1200px) {
}

@media screen and (max-width:1024px) {
}

/** Meduim **/
@media screen and (max-width:992px) {
.lola {
	display: none
}
.losm {
	display: block !important
}
}

/** Small **/
@media screen and (max-width:768px) {
}

@media screen and (max-width:575px) {
.Satiha h3 {
	text-align: center;
	margin: 15px auto
}
.imgsatha {
	margin-top: 50px;
	margin-bottom: 50px;
}
}

@media screen and (max-width:320px) {
}
